.home_c {
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

*{
  box-sizing: border-box;
}

//按钮样式
.switch-component {
  position: relative;
  width: 30px;
  height: 15px;
  background-color: #dadada;
  border-radius: 30px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  transition: all .2s ease;
}

/* 按钮 */
.switch-component::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  transition: all .2s ease;
}

/* 选中状态时，背景色切换 */
.switch-component:checked {
  background-color: #2a6cf0;
}

/* 选中状态时，按钮的位置移动 */
.switch-component:checked::after {
  left: 50%;
}

/*清除原有样式*/
.color_slider {
  -webkit-appearance: none;
  width: 200px;
}

.color_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/*设置滑动条的样式*/
.color_slider::-webkit-slider-runnable-track {
  height: 12px;
  background: linear-gradient(90deg, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red);
  width: 200px;
}

.color_slider::-moz-range-track {
  height: 12px;
  background: linear-gradient(90deg, red 0, #ff0 17%, #0f0 33%, #0ff 50%, #00f 67%, #f0f 83%, red);
  width: 200px;
}

/*设置滑块样式*/    
.color_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #ffffff;
  border-radius: 50%;
}

.color_slider::-moz-range-thumb  {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  background: #ffffff;
  border-radius: 50%;
}


//滚动条样式
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent; /* or add it to the track */
}

//设置按钮样式
.set_float{
  position:fixed;
  right: 0;
  z-index: 1;
}

//设置框样式
.set{
  position:fixed;
  z-index: 2;
  color: rgb(255, 255, 255);
  user-select: none;
  background: rgba(111, 110, 110, 0.337);
  transform-origin: bottom left;
}

.box{
  float: left;
  margin-right: 10px;
}

.box div{
  margin-top: 10px;
}

.setButton{
  float: left;
  position:fixed;
  right: 0;
}

// 倒计时样式
.clock{
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: #000;
}

.clock p{
  color: #fff;
  font-size: 200px;
}

// 提词器样式
#tici p{
  user-select: none;
  display: inline-block;
}

#tici{
  overflow: auto;
}

// 定位条样式
#progress{
  z-index: 1;
  background-color: red;
  position: fixed;
  bottom: 0;
  right: 0;
}

// 输入框样式
textarea{
  width: 310px;
  height: 20vh;
  border:0;
  border-radius:5px;
  background-color:#fffcfcec;
}

textarea:hover{
  border: solid 2px rgb(109, 186, 238,0.7);
}


input[type=range] {
  width: 200px;
  height: 10px;
}

// 历史记录
#history{
  width: 200px;
  height: 100px;
  border: #2a6cf0 solid 2px;
  border-radius: 5px;
}



/* 超小型设备（600px及以下的手机） */
@media only screen and (max-width: 600px) {
  textarea{
    width: 80vw;
    height: 100px;
  }
  .box div{
    margin: 0;
  }
  .box{
    width: 80vw;
  }
}

/* 小型设备（平板电脑竖屏模式和大屏手机，600 像素及以上） */
@media only screen and (min-width: 600px) {
  textarea{
    width: 250px;
    height: 20vh;
  }
  
}

/* 中型设备（平板电脑横屏模式，768 像素及以上） */
@media only screen and (min-width: 768px) {
  textarea{
    width: 150px;
    height: 20vh;
  }
  
} 

/* 大型设备（笔电、台式机，992 像素及以上） */
@media only screen and (min-width: 992px) {
  textarea{
    width: 310px;
    height: 20vh;
  }
} 

/* 超大型设备（大屏笔电、台式机，1200 像素及以上） */
@media only screen and (min-width: 1200px) {
  textarea{
    width: 310px;
    height: 20vh;
  }
}






//横屏样式
@media only screen and (orientation: landscape) {
  
}

//竖屏样式
@media only screen and (orientation: portrait) {
  
}
