.home_c {
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

*{
  box-sizing: border-box;
}

.switch-component {
  position: relative;
  width: 30px;
  height: 15px;
  background-color: #dadada;
  border-radius: 30px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  transition: all .2s ease;
}

/* 按钮 */
.switch-component::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  transition: all .2s ease;
}

/* 选中状态时，背景色切换 */
.switch-component:checked {
  background-color: #2a6cf0;
}

/* 选中状态时，按钮的位置移动 */
.switch-component:checked::after {
  left: 50%;
}

//滚动条样式
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent; /* or add it to the track */
}

.dingwei{
  position:fixed;
  top:0;
  z-index: 1;
  color: rgb(3, 224, 253);
  user-select: none;
}

.clock{
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  background-color: #000;
}

.clock p{
  color: #fff;
  font-size: 200px;
}

#tici p{
  user-select: none;
  display: inline-block;
}

#tici{
  overflow: auto;
}

#progress{
  z-index: 1;
  background-color: red;
  position: fixed;
  bottom: 0;
  right: 0;
}

textarea{
  width: 400px;
  height: 20vh;
  border:0;
  border-radius:5px;
  background-color:#fffcfcec;
}

textarea:hover{
  border: solid 2px rgb(109, 186, 238,0.7);
}

input[type=range] {
  width: 90px;
  height: 10px;
}

/* 超小型设备（600px及以下的手机） */
@media only screen and (max-width: 600px) {
  textarea{
    width: 150px;
    height: 20vh;
  }
}

/* 小型设备（平板电脑竖屏模式和大屏手机，600 像素及以上） */
@media only screen and (min-width: 600px) {
  textarea{
    width: 250px;
    height: 20vh;
  }
}

/* 中型设备（平板电脑横屏模式，768 像素及以上） */
@media only screen and (min-width: 768px) {
  textarea{
    width: 300px;
    height: 20vh;
  }
} 

/* 大型设备（笔电、台式机，992 像素及以上） */
@media only screen and (min-width: 992px) {
  textarea{
    width: 400px;
    height: 20vh;
  }
} 

/* 超大型设备（大屏笔电、台式机，1200 像素及以上） */
@media only screen and (min-width: 1200px) {
  textarea{
    width: 400px;
    height: 20vh;
  }
}






//横屏样式
@media only screen and (orientation: landscape) {
  
}

//竖屏样式
@media only screen and (orientation: portrait) {
  
}
